### Working with the text files 
- Working with f-strings for formated print
- Working with .CSV, .TSV files to read and write
- Working with %%writefile to create simple .txt files [works in jupyter notebook only]
- Working with Python's inbuilt file read and write

### String Formatter

In [1]:
name = 'KGP Talkie'

In [2]:
print('The YouTube channel is {}'.format(name))

The YouTube channel is KGP Talkie

In [3]:
print(f'The YouTube channel is {name}')

The YouTube channel is KGP Talkie

In [4]:
#minimum width and alignment between the col
#day value
#1 10
#10 11

In [5]:
data_science_tuts = [('Python for Beginners', 19),
                    ('Feature Selectiong for Machine Learning', 11),
                    ('Machine Learning Tutorials', 11),
                    ('Deep Learning Tutorials', 19)]

In [6]:
data_science_tuts

[('Python for Beginners', 19),
 ('Feature Selectiong for Machine Learning', 11),
 ('Machine Learning Tutorials', 11),
 ('Deep Learning Tutorials', 19)]

In [7]:
for info in data_science_tuts:
    print(info)

('Python for Beginners', 19)
('Feature Selectiong for Machine Learning', 11)
('Machine Learning Tutorials', 11)
('Deep Learning Tutorials', 19)

In [9]:
for info in data_science_tuts:
    print(f'{info[0]:{50}} {info[1]:{10}}')
#{50} indicates how much spac)e you need in the column 1
#{10} indicates how much spac)e you need in the column 2

Python for Beginners                                       19
Feature Selectiong for Machine Learning                    11
Machine Learning Tutorials                                 11
Deep Learning Tutorials                                    19

### Magic of Comaparison operators in this case

In [10]:
#>, >, ^
for info in data_science_tuts:
    print(f'{info[0]:<{50}} {info[1]:.>{10}}')

Python for Beginners                               ........19
Feature Selectiong for Machine Learning            ........11
Machine Learning Tutorials                         ........11
Deep Learning Tutorials                            ........19

SI
###### > pushes towards right
###### < pushes towards left
###### ^ Provides mid allignment

In [13]:
for info in data_science_tuts:
    print(f'{info[0]:>{50}} {info[1]:.>{10}}')

                              Python for Beginners ........19
           Feature Selectiong for Machine Learning ........11
                        Machine Learning Tutorials ........11
                           Deep Learning Tutorials ........19

In [14]:
for info in data_science_tuts:
    print(f'{info[0]:>{50}} {info[1]:.<{10}}')

                              Python for Beginners 19........
           Feature Selectiong for Machine Learning 11........
                        Machine Learning Tutorials 11........
                           Deep Learning Tutorials 19........

In [16]:
for info in data_science_tuts:
    print(f'{info[0]:^{50}} {info[1]:.>{10}}')

               Python for Beginners                ........19
     Feature Selectiong for Machine Learning       ........11
            Machine Learning Tutorials             ........11
             Deep Learning Tutorials               ........19

### Working with .CSV or .TSV Files

In [17]:
import pandas as pd

In [18]:
data = pd.read_csv('moviereviews.tsv', sep = '\t') #ttab delimited file

In [19]:
data.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [20]:
data.shape

(2000, 2)

In [21]:
data['label'].value_counts() #To count frequency of a categorical column, we use .value_counts()

neg    1000
pos    1000
Name: label, dtype: int64

In [23]:
pos = data[data['label']=='pos']#slicing out dataframe  based on a bolean condition
pos.head()

   label                                             review
2    pos  this has been an extraordinary year for austra...
3    pos  according to hollywood movies made in last few...
11   pos  with stars like sigourney weaver ( " alien " t...
16   pos  i remember hearing about this film when it fir...
18   pos  garry shandling makes his long overdue starrin...

In [30]:
pos.to_csv('Created\\pos.tsv', sep = '\t', index = False)#sending out positive reviews in a separate file

In [31]:
pd.read_csv('Created\\pos.tsv', sep = '\t').head()

  label                                             review
0   pos  this has been an extraordinary year for austra...
1   pos  according to hollywood movies made in last few...
2   pos  with stars like sigourney weaver ( " alien " t...
3   pos  i remember hearing about this film when it fir...
4   pos  garry shandling makes his long overdue starrin...

##### built in magic command in jupyter %%writefile
To handle files in a quicker way

In [34]:
%%writefile mytextfile.txt
Hello, this is the NLP lesson.
Please Like and Subscribe to show your support

Writing mytextfile.txt

In [35]:
%%writefile -a mytextfile.txt
Thanks for watching

Appending to mytextfile.txt

### Files Handling : Use python's inbuilt command to read and write text file

In [37]:
file = open('mytextfile.txt', 'r')

In [38]:
file

In [39]:
file.read()#Reading entire file in one go

'Hello, this is the NLP lesson.\nPlease Like and Subscribe to show your support\nThanks for watching\n'

In [40]:
file.read()#ponts to the last of file after reading it once before

''

In [42]:
file.seek(0)#Bring the cursor to the beginning of the file

0

In [43]:
file.read()#Now read again

'Hello, this is the NLP lesson.\nPlease Like and Subscribe to show your support\nThanks for watching\n'

In [44]:
file.seek(0)#Bring the cursor to the beginning of the file

0

In [49]:
file.readline()#Read line by line
#Running this reeatedly will execute line by line and finally reach at the end

''

In [50]:
file.seek(0)#Bring the cursor to the beginning of the file

0

In [51]:
file.readlines()#readd the entire file using readlines

['Hello, this is the NLP lesson.\n',
 'Please Like and Subscribe to show your support\n',
 'Thanks for watching\n']

In [52]:
file.close()

In [59]:
file

##### Reading the file using context mode, so that you won't be required to isefilepointer.close() toclose the file

In [54]:
with open('mytextfile.txt') as file:
    text_data = file.readlines()
    print(text_data)

['Hello, this is the NLP lesson.\n', 'Please Like and Subscribe to show your support\n', 'Thanks for watching\n']

In [55]:
for temp in text_data:
    print(temp.strip())#to remove \n  we use strip to remove extra characters

Hello, this is the NLP lesson.
Please Like and Subscribe to show your support
Thanks for watching

In [57]:
for i, temp in enumerate(text_data): #enumrate to create a pair with index and content
    print(str(i) + "  -->  " + temp.strip()) #to print the string and its characters

0  -->  Hello, this is the NLP lesson.
1  -->  Please Like and Subscribe to show your support
2  -->  Thanks for watching

#### file writing

In [58]:
file = open('mytextfile2.txt', 'w') #creating a file for writing practice

In [59]:
file

In [61]:
file.write('This is just another lesson')#CONTENT WRITTEN TO FILE

27

In [62]:
file.close()#only closing the file completes th writing operation

##### Writing a file in context , Does not need .close()

In [65]:
with open('mytextfile3.txt', 'w') as file:
    file.write('This is third file \n')

In [66]:
text_data

['Hello, this is the NLP lesson.\n',
 'Please Like and Subscribe to show your support\n',
 'Thanks for watching\n']

In [67]:
with open('mytextfile3.txt', 'a') as file:
    for temp in text_data:
        file.write(temp)